*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    /* border: 4px solid red; */
    background-color: rgb(255, 217, 217);
    /* background-image: url('wp2.jpg'); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 36px;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    display:flex;
    list-style-type: none;
}

.nav__link{
    text-decoration: none;
    text-transform: capitalize;
    color: #142F43;
    font-weight: 500;
}
.nav__link:hover{
    color: #B91646;
}

.logo{
    font-size: 48px;
    text-transform: uppercase;
    color: #1f1b1b;
    cursor: pointer;
    transition: all 500ms ease-out;
}
.logo:hover{
    color: #FF87CA ;
    transform: scale(1.1);
}
.navbar__right{
    font-size: 24px;
}

ul li{
    margin-left: 24px;
}

.hero{
    background-image: url("bgimg.jpg");
    height: 538px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text{
    color: #FF87CA;
    font-size: 48px;
    width: 50%;
    text-align: center;

}
